In [1]:
import pandas as panda




from google.colab import drive
drive.mount('/content/drive')




df = panda.read_csv('/content/drive/MyDrive/320manhattenyellowtaxis.csv')

Mounted at /content/drive

In [2]:
df.head(10)

,dropoff_datetime_hour,DOLocationID,VendorID,trip_distance,fare_amount,total_amount,extra,RatecodeID,payment_type,tip_amount,...,ride_duration,average_speed,dropoff_hour,DOLocation_area,DOLocation_perimeter,number_taxis_DOLocationID_for_this_hour,dropoff_day_of_week,dropoff_day_of_month,dropoff_month,passenger_count
0,2018-12-31 13:00:00,140,2.0,3.15,15.0,19.560000,0.5,1.0,1.0,3.260000,...,21.150000,8.936170,13,0.000114,0.047584,1,0,31,12,1.000000
1,2018-12-31 13:00:00,243,2.0,0.83,5.5,6.800000,0.5,1.0,2.0,0.000000,...,5.550000,8.972973,13,0.000438,0.094331,1,0,31,12,5.000000
2,2018-12-31 14:00:00,41,2.0,1.00,5.0,6.300000,0.5,1.0,2.0,0.000000,...,3.816667,15.720524,14,0.000143,0.052793,1,0,31,12,1.000000
3,2018-12-31 14:00:00,48,2.0,2.32,11.0,12.786667,0.5,1.0,1.0,0.486667,...,13.788889,9.586343,14,0.000094,0.043747,3,0,31,12,4.333333
4,2018-12-31 14:00:00,68,2.0,1.46,7.5,11.440000,0.5,1.0,1.0,2.640000,...,7.850000,11.159236,14,0.000111,0.049337,1,0,31,12,1.000000
5,2018-12-31 14:00:00,75,2.0,0.46,3.5,4.800000,0.5,1.0,2.0,0.000000,...,2.083333,13.248000,14,0.000241,0.087664,1,0,31,12,6.000000
6,2018-12-31 14:00:00,107,2.0,1.94,8.0,11.620000,0.5,1.0,1.0,2.320000,...,8.083333,14.400000,14,0.000075,0.038041,1,0,31,12,1.000000
7,2018-12-31 14:00:00,114,2.0,3.01,12.0,15.960000,0.5,1.0,1.0,2.660000,...,13.600000,13.279412,14,0.000047,0.031727,1,0,31,12,5.000000
8,2018-12-31 14:00:00,140,2.0,3.87,13.5,15.880000,0.5,1.0,1.0,1.080000,...,15.116667,15.360529,14,0.000114,0.047584,1,0,31,12,2.000000
9,2018-12-31 14:00:00,141,2.0,3.59,14.0,18.360000,0.5,1.0,1.0,3.060000,...,15.916667,17.023764,14,0.000077,0.041514,2,0,31,12,1.000000

In [3]:
df.tail(10)

,dropoff_datetime_hour,DOLocationID,VendorID,trip_distance,fare_amount,total_amount,extra,RatecodeID,payment_type,tip_amount,...,ride_duration,average_speed,dropoff_hour,DOLocation_area,DOLocation_perimeter,number_taxis_DOLocationID_for_this_hour,dropoff_day_of_week,dropoff_day_of_month,dropoff_month,passenger_count
554649,2020-01-01 00:00:00,211,2.0,3.250000,14.500000,17.800000,0.000000,1.0,2.0,0.000000,...,574.183333,0.339613,0,0.000040,0.025235,1,2,1,1,2.000000
554650,2020-01-01 00:00:00,224,2.0,4.870000,22.750000,30.050000,0.000000,2.0,1.0,0.000000,...,732.166667,0.399089,0,0.000098,0.044020,1,2,1,1,1.000000
554651,2020-01-01 00:00:00,233,2.0,3.090000,14.875000,21.205000,0.000000,1.0,1.0,1.030000,...,654.508333,0.273674,0,0.000116,0.048036,2,2,1,1,1.000000
554652,2020-01-01 00:00:00,234,2.0,2.400000,11.000000,17.760000,0.500000,1.0,1.0,2.960000,...,115.083333,1.251267,0,0.000073,0.036072,1,2,1,1,1.000000
554653,2020-01-01 00:00:00,236,2.0,2.693333,11.333333,17.233333,0.666667,1.0,1.0,1.933333,...,532.544444,0.289938,0,0.000103,0.044252,3,2,1,1,1.666667
554654,2020-01-01 00:00:00,237,2.0,1.020000,10.000000,15.870000,0.500000,1.0,1.0,2.070000,...,202.150000,0.302745,0,0.000096,0.042213,1,2,1,1,2.000000
554655,2020-01-01 00:00:00,239,2.0,2.010000,10.000000,14.835000,0.500000,1.0,1.0,1.035000,...,514.158333,0.259287,0,0.000205,0.063626,2,2,1,1,1.000000
554656,2020-01-01 00:00:00,243,2.0,4.870000,22.750000,30.050000,0.000000,1.0,1.0,6.900000,...,617.566667,0.473147,0,0.000438,0.094331,1,2,1,1,2.000000
554657,2020-01-01 00:00:00,246,2.0,4.870000,18.000000,25.640000,1.000000,1.0,1.0,3.340000,...,411.516667,0.710056,0,0.000281,0.069467,1,2,1,1,5.000000
554658,2020-01-01 00:00:00,263,2.0,4.870000,22.000000,30.050000,1.000000,1.0,1.0,6.480000,...,350.833333,0.832874,0,0.000066,0.037017,1,2,1,1,5.000000

In [4]:
df.dtypes

dropoff_datetime_hour                       object
DOLocationID                                 int64
VendorID                                   float64
trip_distance                              float64
fare_amount                                float64
total_amount                               float64
extra                                      float64
RatecodeID                                 float64
payment_type                               float64
tip_amount                                 float64
congestion_surcharge                         int64
ride_duration                              float64
average_speed                              float64
dropoff_hour                                 int64
DOLocation_area                            float64
DOLocation_perimeter                       float64
number_taxis_DOLocationID_for_this_hour      int64
dropoff_day_of_week                          int64
dropoff_day_of_month                         int64
dropoff_month                                int64
passenger_count                            float64
dtype: object

In [5]:
df['dropoff_datetime_hour'] =    panda.to_datetime(df['dropoff_datetime_hour'])

In [6]:
i = df['dropoff_datetime_hour'].is_monotonic_increasing

i

True

In [7]:
df.dtypes

dropoff_datetime_hour                      datetime64[ns]
DOLocationID                                        int64
VendorID                                          float64
trip_distance                                     float64
fare_amount                                       float64
total_amount                                      float64
extra                                             float64
RatecodeID                                        float64
payment_type                                      float64
tip_amount                                        float64
congestion_surcharge                                int64
ride_duration                                     float64
average_speed                                     float64
dropoff_hour                                        int64
DOLocation_area                                   float64
DOLocation_perimeter                              float64
number_taxis_DOLocationID_for_this_hour             int64
dropoff_day_of_week                                 int64
dropoff_day_of_month                                int64
dropoff_month                                       int64
passenger_count                                   float64
dtype: object

In [8]:
df =   df.drop(['dropoff_datetime_hour'], axis=1)

In [9]:
df['busyness'] =   df['number_taxis_DOLocationID_for_this_hour'] / df['DOLocation_area']

In [10]:
df =   df.drop('number_taxis_DOLocationID_for_this_hour',  axis=1)

In [11]:
import pandas as panda
import numpy as nump


df['busyness'] = df['busyness'].astype(float)



bins = nump.percentile(df['busyness'], [0, 20, 40, 60, 80, 100])


labels = [1, 2, 3, 4, 5]


df['busyness'] = panda.cut(df['busyness'], bins=bins, labels=labels, include_lowest=True)

In [12]:

yx =   ['DOLocationID',   'VendorID',    'RatecodeID',   'payment_type',
                      'dropoff_hour',   'dropoff_day_of_week',    'dropoff_day_of_month',
                                'dropoff_month']


df = panda.get_dummies(df, columns=yx)


print(df.head())

   trip_distance  fare_amount  total_amount  extra  tip_amount  \
0           3.15         15.0     19.560000    0.5    3.260000
1           0.83          5.5      6.800000    0.5    0.000000
2           1.00          5.0      6.300000    0.5    0.000000
3           2.32         11.0     12.786667    0.5    0.486667
4           1.46          7.5     11.440000    0.5    2.640000

   congestion_surcharge  ride_duration  average_speed  DOLocation_area  \
0                     1      21.150000       8.936170         0.000114
1                     1       5.550000       8.972973         0.000438
2                     1       3.816667      15.720524         0.000143
3                     1      13.788889       9.586343         0.000094
4                     1       7.850000      11.159236         0.000111

   DOLocation_perimeter  ...  dropoff_month_3 dropoff_month_4  \
0              0.047584  ...                0               0
1              0.094331  ...                0               0
2              0.052793  ...                0               0
3              0.043747  ...                0               0
4              0.049337  ...                0               0

   dropoff_month_5  dropoff_month_6  dropoff_month_7  dropoff_month_8  \
0                0                0                0                0
1                0                0                0                0
2                0                0                0                0
3                0                0                0                0
4                0                0                0                0

   dropoff_month_9  dropoff_month_10  dropoff_month_11  dropoff_month_12
0                0                 0                 0                 1
1                0                 0                 0                 1
2                0                 0                 0                 1
3                0                 0                 0                 1
4                0                 0                 0                 1

[5 rows x 164 columns]

In [13]:
df.to_csv('/content/drive/MyDrive/feature_complete1.3manhattenyellowtaxis.csv', index=False)