In [1]:
import pandas as pd


from google.colab import drive
drive.mount('/content/drive')


x = pd.read_csv('/content/drive/MyDrive/taxi_zones (1).csv')

Mounted at /content/drive

In [2]:
print(x.columns)

Index(['OBJECTID', 'Shape_Leng', 'the_geom', 'Shape_Area', 'zone',
       'LocationID', 'borough'],
      dtype='object')

In [3]:
manhattantaxizones = x[x['borough'] == 'Manhattan']

themanhattan_ids = manhattantaxizones['LocationID'].tolist()

In [4]:
print(themanhattan_ids)

[4, 24, 12, 13, 41, 45, 42, 43, 48, 50, 68, 79, 74, 75, 87, 88, 90, 125, 100, 103, 103, 103, 107, 113, 114, 116, 120, 127, 128, 151, 140, 137, 141, 142, 152, 143, 144, 148, 153, 158, 161, 162, 163, 164, 170, 166, 186, 194, 202, 209, 211, 224, 229, 230, 231, 239, 232, 233, 234, 236, 237, 238, 263, 243, 244, 246, 249, 261, 262]

In [5]:
import os

In [6]:
df = pd.read_csv('/content/drive/MyDrive/2018_Yellow_Taxi_Trip_Data.csv')

In [7]:
y = len(df)

In [8]:
print(y)

112234626

In [9]:
filtered_x = df[df['DOLocationID'].isin(themanhattan_ids)]

In [10]:
rows = filtered_x.shape[0]

In [11]:
print(f"The number of rows is : {rows}")

The number of rows is : 99177964

In [12]:
filtered_x.to_csv('/content/drive/MyDrive/2018.1manhattenyellowtaxis.csv', index=False)